.rightbar {
  flex: 3.5;
}

.rightbar-wrapper {
  padding: 20px 20px 0 0;
}

.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthday-text {
  font-weight: 300;
  font-size: 15px;
}

.rightbar-ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbar-title {
  margin-bottom: 20px;
}

.rightbar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar-profile-image-container {
  margin-right: 10px;
  position: relative;
}

.rightbar-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbar-online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: -2px;
  right: 0;
  border: 2px solid white;
}

.rightbar-username {
  font-weight: 500;
}