.leftbar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

.leftbar-wrapper {
  padding: 20px;
}

.leftbar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbar-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.leftbar-icon {
  margin-right: 15px;
}

.leftbar-button {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.leftbar-hr {
  margin: 20px 0;
}

.leftbar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leftbar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.leftbar-friend-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}